<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8"/>
        <title>Course Data</title>
</head>
<body>
     <h1>Course Details</h1>
    <table border = "2" id = "course-details-table">
        
            <tr>
              <th>Average Marks</th>
              <th>Maximum Marks</th>
          </tr>
        
        
            <tr>
                <td>{{ Avg_Marks }}</td>
                <td>{{ Max_Marks }}</td>
            </tr>
        
    </table>                    
            <img src='static/histogram.png'>
            
            <p><a href="http://127.0.0.1:5000/">Go Back</a></p>

</body>
</html>
