<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="21f1002877">
		<title>	Forgot Password </title>
    <link rel="stylesheet" href="../static/css_files/update_details.css">
	</head>

<body>
		<a href="#" onclick="history.back()" id="goBackButton">Back</a>

    <form action="/forgot_passwd" method="POST" id="forgot-password-form">
    	<div>
			<label><b><h2>Forgot Password!</h2></b></label>
		</div>
    	<div>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" value="{{ email }}" placeholder="Student Email Id" required />
		</div>
		<div>
			<label for="key">Secret Key:</label>
			<input type="text" id="key" name="key" pattern="\d{6}" title="Please enter a 6-digit number." placeholder="Secret Key for Password Recovery" required />
		</div>
		<div>
			<label for="create_password">Create Password:</label>
			<input type="password" id="create_password" name="create_password" pattern=".{8,}" title="Password must be at least 8 characters" placeholder="Enter New Password" required />
		</div>
		<div>
			<label for="confirm_password">Confirm Password:</label>
			<input type="password" id="confirm_password" name="confirm_password" pattern=".{8,}" title="Password must be at least 8 characters" placeholder="Confirm Password" required />
		</div>
		<div>
			<input type="submit" value = "Reset Password" onclick="matchPassword()">
		</div>
	</form> &nbsp; &nbsp; 

	{% if errorMessage %}
		<h2><p style="background-color: white;">{{ errorMessage | safe }} </p></h2>
	{% endif %}
	
  <script>
    function matchPassword()
		{ 
		    var createPassword = document.getElementById("create_password").value;
		    var confirmPassword = document.getElementById("confirm_password").value;

		  if ( createPassword !== confirmPassword )
		 	{ alert("Passwords did not match");
		 	  document.getElementById("create_password").value = '';
		 	  document.getElementById("confirm_password").value = '';
		 	}
		}
  </script>
</body>
</html>
