<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    </head>
    
    <body>
    	<div class="header-container">
        	<h2>Courses list</h2>
        	<h2><a href="/">Go to Students</a></h2>
    	</div>
    	
    <table id = "all-courses">
		<tr>
			<th>SNo</th>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Course Description</th>
			<th>Actions</th>
		</tr>
		
		{% for course in courses %}
            <tr>
            	<td>{{ loop.index }}</td>
                <td><a href="/course/{{course['course_id']}}">{{ course["course_code"] }}</a></td>
                <td>{{ course["course_name"] }}</td>
                <td>{{ course["course_description"] }}</td>
                <td>
                	<a href="/course/{{course['course_id']}}/update" type="button">Update</a>
                	<a href="/course/{{course['course_id']}}/delete" type="button">Delete</a>
				</td>
            </tr>
         {% endfor %}
		
	</table>  
    
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="{{ url_for('create_course') }}">+ Add Course</a></p>
    </body>
    
</html>
