<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="21f1002877">
	<title>Pending Returns</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../../static/css_files/common.css">

  </style>
</head>
<body style="background-image: url('/static/user_home_page.avif');">
	
	<a href="/admin_logged_in" id="goBackButton">Back</a>
	
<div class="container text-center">
<br><br><br>
<div class="row justify-content-between">
<table class="table table-striped">
  <thead>
    <tr>
    	<th scope="col"></th>
    	<th scope="col"></th>
    	<th scope="col"></th>
		<th scope="col"><h3>Borrowed Books</h3></th>
    	<th scope="col"></th>
    	<th scope="col"></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email ID</th>      
      <th scope="col">Book ID</th>
      <th scope="col">Issued Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

	 {% for each_bk in pnd_rtns %}
		<tr>
		  <th scope="row">{{ loop.index }}</th>
		  <td><a href="/admin/student_details/{{ each_bk[0] }}"> {{ each_bk[0] }} </a></td>		  
		  <td><a href="/admin/book_details/{{ each_bk[1] }}"> {{ each_bk[1] }} </a></td>
		  <td> {{ each_bk[2] }}  </td>
		  <td> {{ each_bk[3] }}  </td>
		  <td><a href="/admin/revoke/{{ each_bk[0] }}/{{ each_bk[1] }}/pndig_returns" class="btn btn-danger">Revoke Access</a></td>
		</tr>
	{% endfor %}

  </tbody>
</table>

</div>
</div>


</body>
</html>
