<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="21f1002877">
	<title>Statistics Page</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../../static/css_files/common.css">

  </style>
</head>
<body style="background-image: url('/static/user_home_page.avif');">
	
	<a href="/admin_logged_in" id="goBackButton">Back</a>

<br>
<ul class="nav nav-pills nav-fill">

	<li class="nav-item">
		<a class="btn btn-primary" href="#" data-bs-toggle="modal" > Charts </a>
	</li>

	<li class="nav-item">
		<a class="btn btn-success" href="#" data-bs-toggle="modal" > Update </a>
	</li>

	<li class="nav-item">
		<a class="btn btn-success" href="#" data-bs-toggle="modal" > - Delete </a>
	</li>

	<li class="nav-item">
		<a class="btn btn-success" href="#" data-bs-toggle="modal" > + Register </a>
	</li>

	<li class="nav-item">
		<a class="btn btn-success" href="#" data-bs-toggle="modal" > Update </a>
	</li>

	<li class="nav-item">
		<a class="btn btn-success" href="/transactions" data-bs-toggle="modal" > Transactions </a>
	</li>



</body>
</html>
